body {
    font-family: Helvetica, Arial, sans-serif;
}

.input,
.submit-button-area {
    display: flex;
    align-items: baseline;
}

.input-label,
.submit-button-margin {
    width: 25%;
}

.input-input {
    width: 75%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    max-width: 400px;
    font-size: 1rem;
}

input,
button {
    border-radius: 0.5em;
    font-size: 1em;
    height: 2em;
}

input {
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.195);
    border-style: solid;

}

button {
    width: 75%;
    border-width: 1px;
    border-style: none;
    border-color: rgb(161, 161, 161);
    background-color: rgb(240, 240, 240);
}

body {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    width: 90vw;
}