body {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    width: 90vw;
}

.input-with-label,
.submit-button-area {
    display: flex;
    align-items: center;
}

.input-label,
.submit-button-margin {
    width: 30%;
}


.input-input,
button {
    width: 75%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    /*max-width: 600px;*/
    font-size: 1rem;
    justify-content: flex-start;
    width: 250px
}


.form-message {
    min-height: 4em;
    max-width: 100%;
    flex-grow: 0;
    color: crimson;
}

#password-reset {
    text-align: center;
    cursor: pointer;
}

#password-reset-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}